In [1]:
from Helper.Load.load import Base_Load
from Helper.Load.supervised import Supervised
from Helper.Load.regression import Regression
from Helper.Load.classification import Classification
from Helper.Visual.Visual import Visual
from Helper.Visual.classification import VClassification
from Helper.Transform.classification import Classificaton_Transform

import numpy as n
import matplotlib.pyplot as plt

In [2]:
loadC = Classification("Data", "abalone.dat", "abalone_names.txt")
transformC = Classificaton_Transform(loadC)

In [3]:
loadC.attribute_dictionary()

{'Sex': {'name': 'Sex',
  'abstraction': 'Nominal',
  'selector': 'Text',
  'bounds': '{M,F,I}'},
 'Length': {'name': 'Length',
  'abstraction': 'Continuous',
  'selector': 'Number',
  'bounds': '[0.075,0.815]'},
 'Diameter': {'name': 'Diameter',
  'abstraction': 'Continuous',
  'selector': 'Number',
  'bounds': '[0.055,0.65]'},
 'Height': {'name': 'Height',
  'abstraction': 'Continuous',
  'selector': 'Number',
  'bounds': '[0.0,1.13]'},
 'Whole_weight': {'name': 'Whole_weight',
  'abstraction': 'Continuous',
  'selector': 'Number',
  'bounds': '[0.0020,2.8255]'},
 'Shucked_weight': {'name': 'Shucked_weight',
  'abstraction': 'Continuous',
  'selector': 'Number',
  'bounds': '[0.0010,1.488]'},
 'Viscera_weight': {'name': 'Viscera_weight',
  'abstraction': 'Continuous',
  'selector': 'Number',
  'bounds': '[0.0005,0.76]'},
 'Shell_weight': {'name': 'Shell_weight',
  'abstraction': 'Continuous',
  'selector': 'Number',
  'bounds': '[0.0015,1.005]'},
 'Rings': {'name': 'Rings',
  'abstraction': 'Nominal',
  'selector': 'Number',
  'bounds': '{15,7,9,10,8,20,16,19,14,11,12,18,13,5,4,6,21,17,22,1,3,26,23,29,2,27,25,24}'}}

In [4]:
transformC.attributes

[['@attribute', 'Sex', 'Nominal', 'Text', '{M,F,I}'],
 ['@attribute', 'Length', 'Continuous', 'Number', '[0.075,0.815]'],
 ['@attribute', 'Diameter', 'Continuous', 'Number', '[0.055,0.65]'],
 ['@attribute', 'Height', 'Continuous', 'Number', '[0.0,1.13]'],
 ['@attribute', 'Whole_weight', 'Continuous', 'Number', '[0.0020,2.8255]'],
 ['@attribute', 'Shucked_weight', 'Continuous', 'Number', '[0.0010,1.488]'],
 ['@attribute', 'Viscera_weight', 'Continuous', 'Number', '[0.0005,0.76]'],
 ['@attribute', 'Shell_weight', 'Continuous', 'Number', '[0.0015,1.005]'],
 ['@attribute',
  'Rings',
  'Nominal',
  'Number',
  '{15,7,9,10,8,20,16,19,14,11,12,18,13,5,4,6,21,17,22,1,3,26,23,29,2,27,25,24}']]

In [5]:
loadC.partition.X_train.head()

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
2390,0,0.545,0.420,0.145,0.7780,0.3745,0.1545,0.205
1769,0,0.690,0.550,0.180,1.6915,0.6655,0.4020,0.500
2045,2,0.435,0.345,0.120,0.4475,0.2210,0.1120,0.125
1398,2,0.380,0.285,0.095,0.2430,0.0895,0.0665,0.075
3078,1,0.490,0.370,0.105,0.5265,0.2490,0.1005,0.148