In [1]:
from Helper.Load.load import Base_Load
from Helper.Load.supervised import Supervised
from Helper.Load.regression import Regression
from Helper.Load.classification import Classification
from Helper.Visual.Visual import Visual
from Helper.Visual.classification import VClassification
from Helper.Transform.classification import Classificaton_Transform

import numpy as n
import matplotlib.pyplot as plt

In [2]:
loadC = Classification("Data", "banana.dat", "bananna-names.txt")
transformC = Classificaton_Transform(loadC)
#VClassification(loadC)

In [3]:
loadC.partition.X_train.head()

        At1     At2
4706  0.970  1.1500
1180 -1.580  0.4560
888   0.874 -1.4100
4362 -0.507  1.8900
324  -0.274  0.0468

In [4]:
X, y = transformC._transform(loadC.partition.X_train, loadC.partition.y_train)

In [5]:
X_, y_ = transformC._transform(loadC.partition.X_test, loadC.partition.y_test)