In [1]:
from Helper.Load.load import Base_Load
from Helper.Load.supervised import Supervised
from Helper.Load.regression import Regression
from Helper.Load.classification import Classification
from Helper.Visual.Visual import Visual
from Helper.Visual.classification import VClassification
from Helper.Transform.Transform.classification import Classificaton_Transform

import numpy as n
import matplotlib.pyplot as plt

In [2]:
loadC = Classification("Data", "haberman.dat", "haberman-names.txt")
transformC = Classificaton_Transform(loadC)

In [3]:
loadC.partition.X_train.head()

     Age  Year  Positive
16    55    66        18
126   57    62         0
152   50    65         4
289   45    68         0
67    50    64         0

In [4]:
X, y = transformC._transform(loadC.partition.X_train, loadC.partition.y_train)

In [6]:
X_, y_ = transformC._transform(loadC.partition.X_test, loadC.partition.y_test)