In [1]:
from Helper.Load.load import Base_Load
from Helper.Load.supervised import Supervised
from Helper.Load.regression import Regression
from Helper.Load.classification import Classification
from Helper.Visual.Visual import Visual
from Helper.Visual.classification import VClassification
from Helper.Transform.Transform.classification import Classificaton_Transform

import numpy as n
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
loadC = Classification("Data", "haberman.dat", "haberman-names.txt")
transformC = Classificaton_Transform(loadC)

In [3]:
loadC.partition.X_train.head()

     Age  Year  Positive
16    55    66        18
126   57    62         0
152   50    65         4
289   45    68         0
67    50    64         0

In [4]:
X, y = transformC._transform(loadC.partition.X_train, loadC.partition.y_train)

In [5]:
X_, y_ = transformC._transform(loadC.partition.X_test, loadC.partition.y_test)

In [6]:
transformC.featureU().fit(loadC.data)

FeatureUnion(n_jobs=None,
       transformer_list=[('inputs_', Pipeline(memory=None,
     steps=[('inputs', FeatureUnion(n_jobs=None,
       transformer_list=[('Age', Pipeline(memory=None,
     steps=[('Age_selector', NumberSelector(key='Age')), ('KBinsDiscretizer_transform', KBinsDiscretizer(encode='ordinal', n_bins=15, strategy='...m.Custom.nominal._LabelBinarizer object at 0x1a1fa83a58>)]))],
       transformer_weights=None))]))],
       transformer_weights=None)

In [7]:
# This is a means to transform the entire dataset. We can then set this to be passed to the entire data set to be inspected by the user.

data = pd.merge(loadC.partition.X_train, loadC.partition.y_train, left_index=True, right_index=True)
pd.DataFrame(transformC.featureU().transform(data), columns=data.columns).head()

   Age  Year  Positive  Survival
0  7.0  10.0       5.0       0.0
1  7.0   5.0       0.0       0.0
2  5.0   9.0       1.0       0.0
3  4.0  13.0       0.0       0.0
4  5.0   8.0       0.0       1.0

In [8]:
data.head()

     Age  Year  Positive  Survival
16    55    66        18  negative
126   57    62         0  negative
152   50    65         4  negative
289   45    68         0  negative
67    50    64         0  positive