In [1]:
from Helper.Load.load import Base_Load
from Helper.Load.supervised import Supervised
from Helper.Load.regression import Regression
from Helper.Load.classification import Classification
from Helper.Visual.Visual import Visual
from Helper.Visual.classification import VClassification
from Helper.Transform.Transform.classification import Classificaton_Transform

import numpy as n
import matplotlib.pyplot as plt

In [2]:
loadC = Classification("Data", "abalone.dat", "abalone_names.txt")
transformC = Classificaton_Transform(loadC)

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:65: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._categories != 'auto':
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:79: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._categories == 'auto':

In [3]:
loadC.partition.X_train.head()

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
2390,M,0.545,0.420,0.145,0.7780,0.3745,0.1545,0.205
1769,M,0.690,0.550,0.180,1.6915,0.6655,0.4020,0.500
2045,I,0.435,0.345,0.120,0.4475,0.2210,0.1120,0.125
1398,I,0.380,0.285,0.095,0.2430,0.0895,0.0665,0.075
3078,F,0.490,0.370,0.105,0.5265,0.2490,0.1005,0.148

In [6]:
X, y = transformC._transform(loadC.partition.X_train, loadC.partition.y_train)

In [7]:
X_, y_ = transformC._transform(loadC.partition.X_test, loadC.partition.y_test)